 <h2><%= @task.title %></h2>
 <p><%= @task.details %></p>
  <% if @task.completed %>
    <p>[X] This task is completed</p>
  <% else %>
    <p>[ ] This task is not completed yet</p>
<% end %>
<p><%= link_to "Back to all", tasks_path %></p>
<p><%= link_to "Edit this task", edit_task_path %></p>
<%= link_to "Delete", task_path,
      method: :delete,
      data: { confirm: "Are you sure?" } %>
